:root{
  --basic-brown: #9D8B84;
  --basic-grey: #8996A6;
  --basic-green: #849D8F;
  --basic-grey-light: #F8F7F4;
  --basic-red: #D07058;
  --basic-white: #ffffff;
  --basic-grey-dark: #323232;
  --basic-grey-middle: #5A5A5A;
  --basic-pink-light: #FBDED7;
}

body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

a{
  text-decoration: none;
  color: inherit;
}

.visually-hidden{
  display: none;
}

img{
  max-width: 100%;
  height: auto;
}

.page{
  height: 100%;
}

.page-body{
  min-height: 100%
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin:auto;
}

.main-header{
  display: flex;
  margin-bottom:9px;
  width: 1146px;
  height: 114px;
}

.site-navigation{
  display: flex;
  justify-content: space-between;
  width: 357px;
  height: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
}

.navigation-item{
  display: inline-block;
  vertical-align: top;
  padding: 6px 14px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-radius: 16px;
  color: var(--basic-white);
}

.navigation-item span{
  border-bottom: 1px solid var(--basic-white);
}

.navigation-item:hover{
  color: #000;
  background-color: #fff;
}
.navigation-item:active{
  color: #000;
  background-color: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
}

.navigation-item.active {
  display: inline-block;

  color: #fff;
  background-color: #D07058;
}

.navigation-item.active span {
  border-color: transparent;
}

.site-navigation .navigation-item-current{
  width: 89px;
  height: 31px;
  border-radius: 26px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.user-menu{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 32px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
}

.slider{
  list-style: none;
}

.slider h2{
  width: 672px;
  height: 119px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-control{
  display:flex;
  justify-content: space-between;
  width: 79px;
  height: 21px;
  list-style: none;
}

 .slider-control button{
  width: 21px;
  height: 21px;
  border: solid 2px var(--basic-white);
  border-radius: 50%;
 }

.site-navigation{
  list-style: none;
}

.navigation-item .navigation-list{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
}

.navigation-list span{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  border-bottom: 1px solid var(--basic-grey-middle);
}

.forma{
  display: none;
}

.header-info a{
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}

.features{
  width: 1146px;
  height: auto;
  border-radius: 16px;
  background: url("../img/pattern.png") repeat;
  margin: 27px;
}

.features-text{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-grey-dark);
}

.features-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  color: var(--basic-grey-dark);
}

.block{
  display: flex;
  width: 1200px;
  height: auto;
  justify-content: space-between;
}

.block h2{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news-block{
  width: 560px;
  height: auto;
  border-radius: 16px;
  background: url("../img/background-for-new.jpg") no-repeat;
  color: var(--basic-grey-dark);
  margin: 27px 40px;
}

.news-block h2{
  font-weight: 500;
  color: var(--basic-grey-dark);
}

.news-block a{
  font-size: 24px;
  line-height: 30px;
  border-bottom: 2px solid var(--basic-grey-dark);
  font-weight: 700;
  color: var(--basic-grey-dark);
}

.subscribe-block-inner{
  margin: 6px;
  background-color: var(--basic-grey-light);
  border-radius: 16px;
}

.subscription{
  background: url("../img/post-background.png") no-repeat;
  width: 560px;
  height: auto;
  border-radius: 16px;
  color: var(--basic-grey-middle);
  margin: 27px 40px;
}

.contacts-block{
  box-sizing: border-box;
  width: 303px;
  height: 306px;
  background-color: var(--basic-white);
  border-radius: 16px;
  color: var(--basic-grey-dark);
}

.contacts-block-text{
  max-width: 180px;
  font-size: 14px;
  line-height: 20px;
}
.contacts-block-info{
  display: block;
  width: 180px;
  margin: 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.feedback{
  display:none;
}

.feedback h3{
  color: var(--basic-grey-dark);
  font-size: 24px;
  line-height: 28px;
  font-weight:500;
}

.social{
  list-style: none;
  display: flex;
  width: 164px;
  height: 32px;
  justify-content: space-between;
}

.info{
  font-size: 13px;
  line-height: 18px;
}

.info-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 327px;
  height: 37px;
}

.info-list a{
  border-bottom: 1px solid var(--basic-white);
}

.copyright{
  font-size: 12px;
  line-height: 18px;
}

.main-catalog h1{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.main-menu{
  list-style: none;
  display:flex;
  justify-content: space-between;
  width: 224px;
  height: 14px;
  font-size: 14px;
  line-height: 16px;
}

.main-menu a{
  border-bottom: 1px solid var(--basic-white);
}

.action{
  display:flex;
  width: 1200px;
  height: auto;
  list-style: none;
  justify-content: space-between;
}

.action-1{
  background: url("../img/malina.jpg") no-repeat;
  width: 560px;
  height: 229px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.action-2{
  background: url("../img/chocolate.jpg") no-repeat;
  width: 560px;
  height: 229px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.action-1 h3,
.action-2 h3{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  padding-left: 16px;
  padding-top: 16px;
}

.picture{
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.circle{
  width: 61px;
  height: 61px;
  background: var(--basic-white);
  border-radius: 50%;
}

.promo{
  display:flex;
}

.product-card h3{
  /*width: 267px;
  height: 33px;*/
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-bottom: 1px solid var(--basic-white);
}

.products{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1146px;
  height: auto;
  flex-wrap: wrap;
  list-style: none;
  padding: 27px;
}

.product-card p{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price span{
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  }

.product-card a{
  /*position: absolute;*/
  width: 200px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background-image: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
  }

.promo a{
  /*position: absolute;*/
  width: 200px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background-image: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
  }

.slider-box a{
  /*position: absolute;*/
  width: 278px;
  height: 63px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  background-image: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
  }

.contacts-block .button{
  /*position: absolute;*/
  width: 253px;
  height: 43px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-white);
  background-image: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
  }
