:root{
  --basic-brown: #9D8B84
  --basic-grey: #8996A6;
  --basic-green: #849D8F;
  --basic-grey-light: #F8F7F4;
  --basic-red: #D07058;
  --basic-white: #ffffff;
  --basic-grey-dark: #323232;
  --basic-grey-middle: 5A5A5A
  --basic-pink-light: #FBDED7;
}

body{
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-green);
  background-image: url("../img/...jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  color: var(--basic-white);
}

img{
  max-width: 100%;
  height: auto;
}

.main-navigation{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  display: inline;
  padding: 32px;
  background-color: transparent;
}

.main-navigation-wrapper{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: transparent;
}

.site-navigation{
  list-style: none;
  text-decoration: underline;
}

.site-navigation a{
  color: var(--basic-white);
}

.assortiment{
  list-style: none;
  text-decoration: none;
}

.slider{
  list-style: none;
}

.slider h2{
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-green);
}

.site-navigation a,
.user-navigation a{
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-pink-light);
}

.phone a{
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}

.feature-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
}

.features-list{
  list-style: none
}

.news-block{
  background-image: url("img/background-for-new.jpg");
  color: var(--basic-grey-dark);
}

.news-block h2{
  font-weight: 500;
}

.news-block a{
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  font-weight: 700;
}

.subscription{
  background-image: url("img/post-background.png");
  /*здесь должен лежать прямоугольник*/
  color: var(color: var(--basic-grey-middle);
}

.button-subscription :hover{
  position: absolute;
  width: 130px;
  height: 44px;
  left: 1017px;
  top: 1761px;
  background-color: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;

.button-subscription:focus{
  background-color:#;
}

.button-subscription:active {
  background-color:#;
}

.main-footer{
  background-color: transparent;
}

.info{
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  font-weight:400;
}

.info-list{
  list-style: none
}

.copyright{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.main-catalog h1{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.main-menu{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: underline;
}

social{
  list-style: none;
  display: inline;
}

 .milk-ice-cream h3{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.milk-ice-cream p{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.milk-ice-cream p span{
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  }

.milk-ice-cream a{
  position: absolute;
  width: 200px;
  height: 44px;
  background-color: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
  }
